<template>
  <!-- eslint-disable max-len -->
  <div
    class="text-center text-lg form-generic form-generic--alert"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold">¡Muchas gracias!</h1>
    <p>En breve uno de nuestros asesores se pondrá en contacto.</p>
  </div>
  <form id="the-form" v-else @submit.prevent="sendForm" class="form-generic">
    <a class="text-xl text-center mb-4 block" href="#the-form">
      Compártenos tus datos y un asesor te contactará con un plan de acuerdo a
      tus necesidades.
    </a>
    <div
      class=" bg-yellow-400 rounded p-2 mb-4 text-center"
      v-if="formHasError"
    >
      <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
    </div>

    <label class="block label mb-1" for="basic-first-name">Nombre</label>
    <input
      id="basic-first-name"
      v-model="model.Nombre"
      name="Nombre"
      class="form-input block"
      required
      type="text"
    />
    <label class="block label mb-1" for="basic-last-name">Apellido</label>
    <input
      id="basic-last-name"
      v-model="model.Apellido"
      name="Apellido"
      class="form-input block"
      required
      type="text"
    />
    <label class="block label mt-2 mb-1" for="basic-correo">Correo</label>
    <input
      id="basic-correo"
      v-model="model['E-mail']"
      name="E-mail"
      class="form-input block"
      required
      type="email"
    />

    <label class="block label mt-2 mb-1" for="basic-tel">Teléfono</label>
    <input
      id="basic-tel"
      v-model="model.Teléfono"
      class="form-input block"
      name="Teléfono"
      type="tel"
      required
    />

    <!-- autos -->
    <p class="block label mt-2 mb-1">Selecciona el auto que deseas cotizar:</p>
    <label for="sportage" class="block">
      <input
        type="radio"
        id="sportage"
        name="auto"
        class="form-radio"
        value="sportage"
        v-model="model.Modelo"
      />
      Sportage
    </label>
    <label for="sorento" class="block">
      <input
        type="radio"
        id="sorento"
        class="form-radio"
        name="auto"
        value="sorento"
        v-model="model.Modelo"
      />
      Sorento
    </label>
    <label for="sorento" class="block">
      <input
        type="radio"
        id="otros"
        class="form-radio"
        name="auto"
        value="true"
        v-model="otrosModelos"
      />
      Otros
    </label>
    <template v-if="otrosModelos">
      <label for="rio" class="block">
        <input
          type="radio"
          id="rio"
          class="form-radio"
          name="auto"
          value="rio"
          v-model="model.Modelo"
        />
        Rio
      </label>
      <label for="forte" class="block">
        <input
          type="radio"
          id="forte"
          class="form-radio"
          name="auto"
          value="forte"
          v-model="model.Modelo"
        />
        Forte
      </label>
      <label for="optima" class="block">
        <input
          type="radio"
          id="optima"
          class="form-radio"
          name="auto"
          value="kia optima"
          v-model="model.Modelo"
        />
        Kia Optima
      </label>
      <label for="soul" class="block">
        <input
          type="radio"
          id="soul"
          class="form-radio"
          name="auto"
          value="soul"
          v-model="model.Modelo"
        />
        Soul
      </label>
      <label for="stinger" class="block">
        <input
          type="radio"
          id="stinger"
          class="form-radio"
          name="auto"
          value="stinger"
          v-model="model.Modelo"
        />
        Stinger
      </label>
      <label for="sedona" class="block">
        <input
          type="radio"
          class="form-radio"
          id="sedona"
          name="auto"
          value="sedona"
          v-model="model.Modelo"
        />
        Sedona
      </label>
      <label for="niro" class="block">
        <input
          type="radio"
          class="form-radio"
          id="niro"
          name="auto"
          value="niro"
          v-model="model.Modelo"
        />
        Niro
      </label>
    </template>
    <div
      class="mb-2 tb:mb-0 sm:flex justify-between items-center mt-2 flex-wrap"
    >
      <label class="mr-2 block">
        <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto el
        <a href="aviso-de-privacidad.html" target="_blank"
          >Aviso de privacidad</a
        >
      </label>
      <p class="text-center mt-4 sm:mt-0 sm:text-left">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Enviar
        </button>
      </p>
    </div>
    <p class="mx-auto mt-4 text-center">*Válido al 31 de octubre</p>
  </form>
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric',
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        Apellido: '',
        'E-mail': '',
        Teléfono: '',
        Modelo: ''
      }
    };
  },
  watch: {
    'model.Modelo': function(model) {
      if (model === 'sportage' || model === 'sorento') {
        this.otrosModelos = false;
      }
    }
  },
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets(), this.sendToSirena()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;
          console.log('Sending to analiticas');
          window.gtag('event', 'generate_lead', {
            event_label: 'Formulario de contacto enviado.',
            event_category: 'engagement'
          });
          console.log('Sending to addwords');
          window.gtag('event', 'conversion', {
            send_to: 'AW-714360821/54G3CNqfxKkBEPWP0dQC'
          });
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    },
    sendToSirena() {
      this.isLoading = true;
      const endpoint = 'https://www.kiainterlomas.grupodaytona.com/mail';
      return axios.post(endpoint, this.model).catch(error => {
        console.warn('Error enviando a sirena', error);
        window.gtag('event', 'exception', {
          description: 'ERROR_FORM_SENDTOSIRENA',
          fatal: false // set to true if the error is fatal
        });
        return true;
      });
    }
  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
