<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Kia Interlomas</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../node_modules/plyr/dist/plyr.css" />
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA"
    ></script>

    <script>
      (function(w) {
        w.dataLayer = w.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Configura aquí las etiquetas de rastreo
        w.gtag = gtag;
      })(window);
    </script>

    <script>
      window.sendWhatsappConvertion = function sendWhatsappConvertion() {
        console.log('logging to analytics click en wats');
        gtag('event', 'click_whatsapplink', {
          event_category: 'engagement',
          event_label: 'Click en whatsapp'
        });
        gtag('event', 'conversion', {
          send_to: 'AW-714360821/54G3CNqfxKkBEPWP0dQC'
        });
        return true;
      };
    </script>
    <script async defer src="./app.js"></script>
  </head>
  <body>
    <main id="app" class="container mx-auto main-page shadow-2xl">
      <header class="the-header">
        <picture>
          <source
            srcset="/images/kia-octubre-mobil.png"
            media="(max-width: 600px)"
          />
          <source
            srcset="/images/kia-octubre-desktop.png"
            media="(min-width: 601px)"
          />
          <img src="/images/kia-octubre-desktop.png" />
        </picture>
      </header>
      <section class="the-content">
        <div class="row">
          <article id="ficha-sportage" class="column content">
            <h1 class="title">
              <a href="#ficha-sportage">
                KIA SPORTAGE
              </a>
            </h1>
            <h2>
              Conecta con algo más grande.
            </h2>

            <p class="md:text-lg">
              Asistencia de manejo de alta tecnología que te brinda seguridad en
              cada uno de tus viajes. <br />
            </p>
            <p><strong>Desde: $379,900*</strong></p>
            <p>
              <button
                class="button"
                @click="showModel.sportage = !showModel.sportage"
              >
                {{ showModel.sportage ? 'Ocultar' : 'Mostrar' }} ficha técnica
              </button>
            </p>
            <div class="sr-only">
              <p>
                Asistencia de manejo de alta tecnología que te brinda seguridad
                en cada uno de tus viajes.
              </p>

              <h3>
                IMPONENTE DESDE CUALQUIER ÁNGULO
              </h3>
              <p>
                Diversión y aventura: dos momentos que se vuelven uno a bordo de
                la nueva KIA Sportage 2019.
              </p>

              <h3>
                INTERIOR
              </h3>
              <p>
                Toma un paseo, hazlo con comodidad y sin preocuparte por la
                seguridad. Tu bienestar está en nuestras manos.
              </p>

              <h3>
                Desempeño
              </h3>
              <p>
                MOTOR THETA 2.4 GDI Potencia Máxima: 181hp @ 6,000 rpm – Torque
                Máximo 175 lb-ft @ 4,000 rpm
              </p>

              <h3>
                TECNOLOGÍA DRIVE WISE
              </h3>
              <p>
                Trayectos más inteligentes y seguros. Descubre la tecnología de
                asistencia, reduce riesgos y disfruta cada viaje.
              </p>

              <h3>
                FRENADO AUTOMÁTICO DE EMERGENCIA
              </h3>
              <p>
                El auto disminuye la velocidad o incluso se detiene por completo
                si detecta algún vehículo o personas en el camino, con la
                finalidad de minimizar los daños.
              </p>

              <h3>
                SISTEMA DE DETECCIÓN DE PUNTO CIEGO (BCW)
              </h3>
              <p>
                Esta función monitoriza los puntos ciegos y envía una alerta
                visual en el espejo lateral en caso de que algún otro vehículo
                esté en ese punto.
              </p>

              <h3>
                CONTROL CRUCERO INTELIGENTE
              </h3>
              <p>
                El sistema detecta de manera automática la velocidad de los
                demás vehículos y mantiene la distancia de seguridad
                establecida.
              </p>
            </div>
            <collapse-transition>
              <div v-show="showModel.sportage" class="model-content">
                <slider-scroll class="mb-4 rounded shadow overflow-hidden">
                  <img src="./images/sportage/1000x800_1.jpeg" alt="Sorento" />
                  <img src="./images/sportage/1000x800_2.jpeg" alt="Sorento" />
                  <img src="./images/sportage/1000x800_3.jpeg" alt="Sorento" />
                  <img src="./images/sportage/1000x800_4.jpeg" alt="Sorento" />
                </slider-scroll>
                <ul>
                  <li>Max. Power 181 HP @ 6,000 RPM</li>
                  <li>Rendimiento 13.8 KM/L</li>
                  <li>Garantía 7 años o 150,000 km</li>
                </ul>

                <h3 class="title">
                  Sportage SX
                </h3>

                <ul>
                  <li>6 bolsas de aire</li>
                  <li>Pantalla táctil 8” con Android ® y Apple CarPlay ®</li>
                  <li>Manejo Normal / Sport / Eco</li>
                  <li>Alerta de tráfico cruzado</li>
                  <li>Cámara de reversa</li>
                  <li>Rin 19”</li>
                </ul>

                <h3 class="title">
                  Sportage SXL
                </h3>

                <ul>
                  <li>6 bolsas de aire</li>
                  <li>Pantalla táctil 8” con Android ® y Apple CarPlay ®</li>
                  <li>Cargador inalámbrico</li>
                  <li>Manejo Normal / Sport / Eco</li>
                  <li>Cajuela inteligente</li>
                  <li>Alerta de tráfico cruzado</li>
                  <li>Cámara de reversa</li>
                  <li>Rin 19”</li>
                </ul>

                <h3 class="title">
                  Sportage SXL AWD
                </h3>

                <ul>
                  <li>
                    6 bolsas de aire
                  </li>
                  <li>
                    Pantalla táctil 8” con Android ® y Apple CarPlay ®
                  </li>
                  <li>
                    Cargador inalámbrico
                  </li>
                  <li>
                    Manejo Normal / Sport / Eco
                  </li>
                  <li>
                    Sensores de lluvia
                  </li>
                  <li>
                    Sensores delanteros y traseros
                  </li>
                  <li>
                    Sistema de mantenimiento de carril asistido
                  </li>
                  <li>
                    Alerta de tráfico cruzado
                  </li>
                  <li>
                    Cámara de reversa
                  </li>
                  <li>
                    Rin 19”
                  </li>
                </ul>
              </div>
            </collapse-transition>
          </article>
          <article id="ficha-sorento" class="column content text-right">
            <h1 class="title">
              <a href="#ficha-sorento">
                KIA SORENTO
              </a>
            </h1>
            <h2>
              Libera tu confianza
            </h2>

            <p class="md:text-lg">
              Estilo y tecnología mezclados en una SUV. Una presencia más
              imponente con seguridad y confort tanto para el conductor como
              para los pasajeros. <br />
            </p>
            <p><strong>Desde: $466,900*</strong></p>
            <p>
              <button
                class="button"
                @click="showModel.sorento = !showModel.sorento"
              >
                {{ showModel.sorento ? 'Ocultar' : 'Mostrar' }} ficha técnica
              </button>
            </p>
            <div class="sr-only">
              <h3>
                UNA SUV QUE SE ADAPTA A TI
              </h3>
              <p>
                KIA Sorento, la SUV diseñada para conquistar cualquier destino.
              </p>

              <h3>
                DISEÑADA PARA MEJORAR LA FORMA EN LA QUE VIAJAS
              </h3>
              <p>
                Una SUV que superará todas las exigencias de un
              </p>

              <h3>
                INTERIOR
              </h3>
              <p>
                Tecnología avanzada y centrada en el conductor. La moderna y
                sofisticada cabina de KIA Sorento te permite experimentar una
                nueva forma de conducir.
              </p>

              <h3>
                DESEMPEÑO
              </h3>
              <p>
                Poderosa aceleración con la menor emisión de ruido y
                vibraciones, evitando así la contaminación auditiva en donde
                quiera que estés, para que siempre manejes con estilo.
              </p>

              <h3>
                SEGURIDAD
              </h3>
              <p>
                Un sistema de seguridad tan avanzado que te permitirá viajar sin
                preocuparte por esos pequeños detalles que antes interrumpian tu
                viaje. Detalles que hacen de esta SUV la manera más segura de
                conducir.
              </p>

              <h3>
                ASISTENTE DE ARRANQUE EN PENDIENTES
              </h3>
              <p>
                Arranca en cualquier pendiente sin desplazarte hacia atrás con
                el asistente de arranque en pendientes (HAC).
              </p>

              <h3>
                6 BOLSAS DE AIRE
              </h3>
              <p>
                Kia Sorento ofrece bolsas de aire para el conductor y pasajero,
                además de laterales y tipo cortina para ayudar a proteger a los
                ocupantes y, potencialmente, reducir lesiones en caso de
                impacto.
              </p>

              <h3>
                CÁMARA 360°
              </h3>
              <p>
                El sistema de cámaras te permitirán tener una visión 360° del
                auto en la pantalla, proporcionándote diferentes ángulos que t
              </p>
            </div>
            <collapse-transition>
              <div v-show="showModel.sorento" class="model-content">
                <slider-scroll class="mb-4 rounded shadow overflow-hidden">
                  <img src="./images/sorento/1000x800_1.jpeg" alt="Sorento" />
                  <img src="./images/sorento/1000x800_2.jpeg" alt="Sorento" />
                  <img src="./images/sorento/1000x800_3.jpeg" alt="Sorento" />
                  <img src="./images/sorento/1000x800_4.jpeg" alt="Sorento" />
                </slider-scroll>
                <ul>
                  <li>Max. Power 290 HP @ 6,400 RPM</li>
                  <li>Rendimiento 12.55 KM/L</li>
                  <li>Garantía 7 años o 150,000 km</li>
                </ul>

                <h3 class="title">
                  Sorento LX
                </h3>

                <ul>
                  <li>Pantalla táctil a color 7”</li>
                  <li>Conectividad Android ® y Apple CarPlay ®</li>
                  <li>Asientos delanteros calefactables</li>
                  <li>Cámara de visión trasera</li>
                </ul>

                <h3 class="title">
                  Sorento EX
                </h3>

                <ul>
                  <li>Faros de niebla delanteros</li>
                  <li>Vestiduras en piel</li>
                  <li>Aire acondicionado automático</li>
                  <li>Cargador inalámbrico para Smartphone</li>
                </ul>

                <h3 class="title">
                  Sorento EX PACK
                </h3>

                <ul>
                  <li>
                    Pantalla táctil 8” con conectividad Android ® y Apple
                    CarPlay ®
                  </li>
                  <li>Cluster de supervisión con pantalla de 7”</li>
                  <li>Espejos laterales abatibles eléctricamente</li>
                  <li>Techo panorámico</li>
                </ul>

                <h3 class="title">
                  Sorento SXL
                </h3>

                <ul>
                  <li>Cámara 360</li>
                  <li>Audio Premium Harman Kardon®</li>
                  <li>Sensores de estacionamiento delanteros</li>
                  <li>Vestiduras piel Nappa</li>
                </ul>
              </div>
            </collapse-transition>
          </article>
        </div>
      </section>
      <v-plyer class="the-video" embed-id="RKW9vIfMt_Q"></v-plyer>
      <section class="the-form">
        <form-generic
          class="p-6"
          mail-title="Campaña octubre kia interlomas"
          sheet-destiny="Octubre"
          send-to="marketing@kiainterlomas.com"
        ></form-generic>
      </section>
    </main>
    <footer
      class="container footer mx-auto px-12 py-6 font-light text-white text-xs mt-12 shadow"
    >
      <h3 class="inline text-2xl md:text-3xl text-center mx-8 p-2 rounded-b">
        Terminos y condiciones
      </h3>
      <div class="w-full mt-8 p-3 md:p-6 text-left">
        <h2 class="text-xl">
          Legales:
        </h2>
        <h3 class="text-xl">
          *SPORTAGE y SORENTO TASA 9.99% + BONO DE HASTA $30,000
        </h3>
        <p>NO.1046 / 10-04-2019</p>
        <p>
          Aplica para los modelos SPORTAGE 2019 en sus versiones SX, SXL y SXL
          AWD y SORENTO 2019 en todas sus versiones. Los términos y condiciones
          expresados en esta pieza publicitaria son enunciativos y pueden variar
          al momento de contratación de conformidad con el plan de
          financiamiento seleccionado por lo que te sugerimos consultarlos con
          tu distribuidor autorizado. Financiamiento sujeto a estudio y
          aprobación de crédito. Vigencia hasta 31 de octubre de 2019. Plazos
          desde 12 y hasta 48 meses. El enganche mínimo es del 35% en
          financiamientos de 12 a 48 meses. Comisión por apertura del 2% sin IVA
          y una Tasa fija anual sin IVA del 9.99% a 48 meses. Para consultar las
          comisiones aplicables y cualquier operación que pudiera generar algún
          cargo adicional así como las cantidades que pudieran generarse y para
          mayor información sobre los requisitos, términos, condiciones y
          comisiones de contratación consulta nuestra página de Internet:
          www.cetelem.com.mx. Cetelelem socio exclusivo en México de la marca
          KIA Finance. Promoción válida únicamente en República Mexicana.
        </p>
        <p>
          CAT Promedio del 13.3% sin IVA a 48 meses calculado al 01 de octubre
          de 2019 sobre un importe promedio a financiar de $363,203.75 a un
          plazo de 48 meses con un enganche del 35%, comisión por apertura del
          2% y con una póliza promedio de $14,556.13, tasa fija anual sin IVA
          del 9.99% y bono de $25,000.00 para SPORTAGE 2019 y $30,000.00 para
          SORENTO 2019 (c/IVA) otorgado por Kia Motors México. Cetelem, S.A. de
          C.V. SOFOM E.R.
        </p>
      </div>
      <div class=" text-center">
        &copy; Kia Interlomas Todos los derechos reservados
      </div>
    </footer>
    <a
      href="https://wa.me/525568532582?text=¡Hola! Quiero cotizar con ustedes una camioneta Sportage o Sorento con tasa del 9.99%"
      class="icon-whatsapp"
      target="_blank"
      title="Contátanos directamente por whatsapp"
      onclick="sendWhatsappConvertion()"
    >
      <img src="/images/whatsapp-logo.png" alt="Logotipo de whatsapp" />
    </a>
    <a class="hidden" hidden href="/gracias.html" aria-hidden="true"></a>
    <a class="hidden" hidden href="/aviso-de-privacidad.html"
      >Aviso de privacidad</a
    >
  </body>
</html>
