<template>
  <div
    class="plyr__video-embed"
    :data-plyr-provider="provider"
    :data-plyr-embed-id="embedId"
  >
    <slot></slot>
  </div>
</template>

<script>
import Plyr from 'plyr';
export default {
  name: 'VPlyer',
  props: {
    provider: {
      type: String,
      default: 'youtube'
    },
    embedId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      player: null
    };
  },
  mounted() {
    this.player = new Plyr(this.$el, {
      provider: this.provider,
      embedId: this.embedId
    });
    this.player.on('ended', () => {
      this.player.stop();
    });
  }
};
</script>
